<% layout('../layouts/user') %>

<h3>Create Blog</h3>

<form method="POST">
<input name="title" class="form-control mb-2" placeholder="Blog title">
<textarea name="content" class="form-control mb-3" placeholder="Write blog..."></textarea>

<button class="btn btn-success">Publish</button>
</form>
