<h3>Dashboard</h3>

<div class="row">

<div class="col-md-6">
<div class="card bg-info text-white p-3">
<h5>Total Users</h5>
<h2><%= users || 0 %></h2>
</div>
</div>

<div class="col-md-6">
<div class="card bg-warning p-3">
<h5>Total Blogs</h5>
<h2><%= blogs || 0 %></h2>
</div>
</div>

</div>
